<div class='new-post'>
  <%= link_to "レシピ投稿",new_recipe_path, class:"post-btn"%>
</div>

<div class="search-post">
  <%= search_form_for @q, url: recipes_search_path(:id) do |f| %>
  <%= f.label :name_cont, "レシピ名"%>
  <%= f.search_field :name_cont%>
  <%= f.label :category_id_eq, "カテゴリー"%>
  <%= f.collection_select :category_id_eq, @categories, :id, :name, :include_blank => '指定なし'%>
  <%= f.label :cooking_method_id_eq, "調理方法"%>
  <%= f.collection_select :cooking_method_id_eq, @cookingmethodes, :id, :name, :include_blank => '指定なし'%>
  <%= f.label :season_id_eq, "季節"%>
  <%= f.collection_select :season_id_eq, @season, :id, :name, :include_blank => '指定なし'%>
  
  <div class="actions"><%= f.submit "検索" %></div>
  <% end %>
</div>




<div class='main'>
<% @recipes.each do |recipe| %>
  <div class="recipe">
    <%= link_to recipes_path(recipe.id), method: :get do %>
    <div class="recipe-name">
      <%= link_to recipe.name, recipe_path(recipe)%>
    </div>
    <div class="recipe-image-comtent">
      <%=link_to image_tag(recipe.image, class: "recipe-image"), recipe_path(recipe)%>
    </div>
  </div>
  <% end %>

<% end %>


</div>